@model SquadEvent.Models.EventDetailsViewModel

@{
    ViewData["Title"] = Model.Match.Name;
}

@section Title { <h1><span>@ViewData["Title"]</span></h1> }

<div>
    @Html.Raw(Model.Match.Description)
</div>

<p>
    <i class="far fa-clock"></i>
    Prévu le @Html.DisplayFor(model => model.Match.Date) à @Html.DisplayFor(model => model.Match.StartTime)
</p>

@if (Model.MatchUser != null && Model.MatchUser.Side == null)
{
    <div class="alert alert-secondary" role="alert">
        <h4 class="alert-heading">Inscription</h4>
        <p>Vous êtes inscrit en liste d'attente.</p>
        <p><a class="btn btn-secondary" asp-controller="@ControllersName.Events" asp-action="Subscription" asp-route-id="@Model.Match.MatchID">Voir l'inscription</a></p>
    </div>

    <form asp-action="SubscriptionSide" asp-route-id="@Model.Match.MatchID">
        <div>
            <div class="row mb-4">
                @foreach (var side in Model.Match.Sides)
                {
                    <div class="col-md-6">
                        <h3 class="text-center">@side.Name</h3>
                        <p class="text-center text-muted">@Html.DisplayFor(model => side.SquadsPolicy)</p>

                        @if ((side.Users?.Count() ?? 0) >= side.MaxUsersCount)
                        {
                            <p class="text-center">
                                <button class="btn btn-outline-secondary disabled" disabled>Rejoindre @side.Name</button>
                            </p>
                            <p class="text-center text-muted">Nombre maximum d'inscrits atteint</p>
                        }
                        else
                        {
                            <p class="text-center">
                                <button class="btn btn-outline-primary" name="matchSideID" value="@side.MatchSideID">Rejoindre @side.Name</button>
                            </p>
                        }
                    </div>
                }
            </div>
        </div>
    </form>
}
else
{
    <div>
        <div class="row mb-4">
            @foreach (var side in Model.Match.Sides)
            {
                <div class="col-md-6">
                    <h3 class="text-center">@side.Name</h3>
                    <p class="text-center text-muted">@Html.DisplayFor(model => side.SquadsPolicy)</p>
                    <p class="text-center">
                        @if (Model.MatchUser != null)
                        {
                            @if (Model.MatchUser.Side == side)
                            {
                                <a class="btn btn-success" asp-controller="@ControllersName.Events" asp-action="Subscription" asp-route-id="@Model.Match.MatchID" asp-route-matchSideID="@side.MatchSideID">Inscrit coté @side.Name</a>
                            }
                            else
                            {
                                <span class="text-muted">Aller dans votre inscription pour changer de coté.</span>
                            }
                        }
                        else if ((side.Users?.Count() ?? 0) >= side.MaxUsersCount)
                        {
                            <a class="btn btn-outline-secondary" asp-controller="@ControllersName.Events" asp-action="Subscription" asp-route-id="@Model.Match.MatchID">S'inscire et rejoindre @side.Name</a>
                        <p class="text-center text-muted">Nombre maximum d'inscrits atteint, vous pouvez tout de même vous inscrire en liste d'attente.</p>
                    }
                    else
                    {
                        <a class="btn btn-outline-primary" asp-controller="@ControllersName.Events" asp-action="Subscription" asp-route-id="@Model.Match.MatchID" asp-route-matchSideID="@side.MatchSideID">S'inscire et rejoindre @side.Name</a>
                    }
                        </p>
                    </div>
                }
        </div>
    </div>
}


@if (Model.Match.Rounds.Count > 1)
{
    <h2>Cartes</h2>
    <hr />
}
<div>
    @foreach (var round in Model.Match.Rounds)
    {
        @if (Model.Match.Rounds.Count > 1)
        {
            <h3><a name="round-@round.RoundID"></a>@(round.GameMap?.Name ?? "Destination inconnue")</h3>
        }
        else
        {
            <h2><a name="round-@round.RoundID"></a>Carte : @(round.GameMap?.Name ?? "Destination inconnue")</h2>
            <hr />
        }

        <div class="row mb-4">
            @foreach (var side in round.Sides)
            {
                <div class="col-md-6">
                    <h4 class="text-center"><img src="@ViewHelper.Icon(side.Faction)" alt="" width="64" /><br />@Html.DisplayFor(m => @side.Faction)<br />@side.MatchSide.Name</h4>
                    @if (Model.MatchUser?.Side == side.MatchSide)
                    {
                        <table class="table">
                            <colgroup>
                                <col width="80" />
                                <col width="30" />
                            </colgroup>
                            @foreach (var squad in side.Squads)
                            {
                                <tr>
                                    <td colspan="4">
                                        <span class="badge badge-dark">@Html.DisplayFor(model => squad.Number)</span> @Html.DisplayFor(model => squad.Name)
                                    </td>
                                </tr>
                                @foreach (var slot in squad.Slots)
                                {
                                    <tr>
                                        <td class="pl-4 pl-lg-5"><span class="badge badge-secondary @slot.Role">@Html.DisplayFor(m => slot.Role)</span></td>
                                        <td><img src="@ViewHelper.Icon(slot.AssignedKit)" title="@Html.DisplayFor(m => slot.AssignedKit)" height="24" /></td>
                                        <td>
                                            @if (slot.AssignedUser != null)
                                            {
                                                <span title="@Html.DisplayFor(m => slot.Label)">@Html.DisplayFor(m => slot.AssignedUser.User.Name)</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-success">Libre</span> <span class="text-muted">@Html.DisplayFor(m => slot.Label) </span>
                                            }
                                        </td>
                                    </tr>
                                }

                            }
                        </table>
                    }
                    else
                    {
                        <p class="text-muted">Le détail des squads est affiché uniquement aux membres de l'équipe.</p>
                        <ul class="list-group">
                            @foreach (var squad in side.Squads)
                            {
                                <li class="list-group-item">
                                    <span class="badge badge-dark">@Html.DisplayFor(model => squad.Number)</span> @Html.DisplayFor(model => squad.GenericName)
                                </li>
                            }
                        </ul>
                    }

                    @*<table class="table">
                            <colgroup>
                                <col width="20" />
                                <col />
                                <col width="200" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Libellé</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var squad in side.Squads)
                                {
                                    <tr>
                                        <td><span class="badge badge-dark">@Html.DisplayFor(model => squad.Number)</span></td>
                                        <td>@Html.DisplayFor(model => squad.Name)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>*@
                </div>
            }
        </div>
    }
</div>

<h2>Inscrits</h2>
<hr />
<div>
    <div class="row mb-4">
        @foreach (var side in Model.Match.Sides)
        {
            <div class="col-md-6">
                <h3 class="text-center">@side.Name</h3>
                <p>@(side.Users?.Count() ?? 0) inscrits</p>
                <ul class="list-group">
                    @foreach (var user in side.Users ?? new List<SquadEvent.Entities.MatchUser>())
                    {
                        <li class="list-group-item">
                            @user.User.Name
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</div>

<div>
    <h2><a name="unassigned"></a>Liste d'attente</h2>
    <hr />
    <p>@Model.Match.Users.Count(u => u.MatchSideID == null) inscrits</p>

    <ul class="list-group">
        @foreach (var user in Model.Match.Users.Where(u => u.MatchSideID == null))
        {
            <li class="list-group-item">
                @user.User.Name
            </li>
        }
    </ul>
</div>

